name: Tests

on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["main"]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Check formatting
        working-directory: iOverlay
        run: cargo fmt --all -- --check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Run tests
        working-directory: iOverlay
        run: cargo test
      - name: Install tarpaulin
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-tarpaulin
      - name: Run coverage
        working-directory: iOverlay
        run: cargo tarpaulin --out Lcov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: iOverlay/lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
